// Breakpoints
$breakpoints: (
mobile: rem(768));


@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}

@mixin breakpointDown($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (max-width: $breakpoint-value) {
        @content;
    }
}