
.main-header {
    position: relative;
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: rem(230);
    width: 100%;

    @include breakpoint(mobile) {
        background-image: url(../assets/images/background-pattern-desktop.svg);
        height: rem(317);
        
    }
}